/* 
 * Primary color: #333
 * Accent color: #111
 */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    padding: 0 12px;
    background: #F5f5f5;
    color: #333;
    min-width: 768px;
}
a {
	color: #006ab2;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/** Form elements**/
form{
    padding-bottom: 50px;
    width: 72%;
}
.col form {
    width: 100% !important;
}
button, select, input, textarea, progress {
    appearance:         none;
    -webkit-appearance: none;
    -moz-appearance:    none;
    -ms-appearance:     none;
    -o-appearance:      none;
    border: none;
    outline: none;
    padding: 0;
    transition:          0.1s;
    -webkit-transition:  0.1s;
    -moz-transition:     0.1s;
    -o-transition:       0.1s;
    -ms-transition:      0.1s;
    font-size: 0.9em;
}
input:disabled {
    border: none !important;
    background: #F5F5F5;
    color: #777;
}
select:invalid, input:invalid, textarea:invalid {
    border: 1px solid firebrick;
}
input, textarea{
    width: 100%;
    border: 1px solid #CCC;
    padding: 6px;
}
input:active, input:focus, textarea:focus {
    border: 1px solid #333;
}
textarea {
	min-height: 90px;
	resize: vertical;
}
select {
    width: 100%;
    border: 1px solid #CCC;
    cursor: pointer;
    padding: 6px;
    border-radius: 0 !important;
    background: #FFF;
}

input[type=color]{
    width: 50px !important;
    height:25px;
    padding: 0 !important;
    border: none !important;
    background: #FFF;
    cursor: pointer;
}
label {
    width: 100%;
    display: block;
    margin:6px 0 3px 0;
    position: relative;
    color: #777;
}
label > span {
    display: block;
    position: absolute;
    right: 0;
    margin-left: 12px;
    margin-top: 17px;
    border-top: 5px solid #333;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    margin-right: 10px;
    pointer-events: none;
}
input[type=password] {
   color: #333; 
}
input[type=range] {
	-webkit-appearance: none;
	margin: 12px 0;
	width: 100%;
	border: none !important;
	padding: 0;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: #DDD;
	border-radius: 4px;
}
input[type=range]::-webkit-slider-thumb {
	height: 18px;
	width: 18px;
	border-radius: 100%;
	background: #333;
	cursor: pointer;
	-webkit-appearance: none;
	border: 2px solid #FFF;
	margin-top: -5px;
}
input[type=range]:active::-webkit-slider-thumb{
	height: 22px;
	width: 22px;
	margin-top: -7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #CCC;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: #DDD;
	border-radius: 4px;
}
input[type=range]::-moz-range-thumb {
	height: 18px;
	width: 18px;
	border-radius: 100%;
	background: #333;
	cursor: pointer;
	-webkit-appearance: none;
	border: 2px solid #FFF;
	margin-top: -5px;
}
input[type=range]:active::-moz-range-thumb{
	height: 22px;
	width: 22px;
	margin-top: -7px;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: #DDD;
	border-radius: 4px;
}
input[type=range]::-ms-fill-lower {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: #DDD;
	border-radius: 4px;
}
input[type=range]::-ms-fill-upper {
	width: 100%;
	height: 8px;
	cursor: pointer;
	animate: 0.2s;
	background: #DDD;
	border-radius: 4px;
}
input[type=range]::-ms-thumb {
	height: 18px;
	width: 18px;
	border-radius: 100%;
	background: #333;
	cursor: pointer;
	-webkit-appearance: none;
	border: 2px solid #FFF;
	margin-top: -5px;
}
input[type=range]:active::-ms-thumb {
	height: 22px;
	width: 22px;
	margin-top: -7px;
}
input[type=range]:focus::-ms-fill-lower {
	background: #CCC;
}
input[type=range]:focus::-ms-fill-upper {
	background: #CCC;
}
input[type=reset], .secondary-button {
	padding: 0 12px;
	background: #DDD;
	border-bottom: 2px solid #AAA !important;
	color: #333;
	height: 26px;
	line-height: 26px;
	width: auto !important;
	min-width: 90px;
	font-size: 0.7em;
	border: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.1s;
	margin-right: 12px;
}
input[type=reset]:hover, .secondary-button:hover {
	background: #CCC;
}
input[type=reset]:active, .secondary-button:active {
	background: #BBB;
}
input[type=radio] {
	width: 12px;
	height: 12px;
	cursor: pointer;
	border-radius: 100%;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-right: 0px;
	transition: 0.1s;
}
input[type=radio]:checked {
	background: #333;
	border: 1px solid #333;
}
input[type=checkbox] {
	width: 12px;
	height: 12px;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-top: 0;
	margin-right: 6px;
	transition: 0.5s;
	transition-timing-function: ease-in-out;
}
input[type=checkbox]:checked {
	background: #333;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	-o-border-radius: 100%;
	-ms-border-radius: 100%;
	border-radius: 100%;
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
}

/** Button **/
input[type=submit], input[type=button], button {
	padding: 0 12px;
	background: #333;
	color: #FFF;
	height: 26px;
	line-height: 26px;
	width: auto !important;
	min-width: 90px;
	font-size: 0.7em;
	border: none;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.1s;
	border-bottom: 2px solid #111;
	margin-top: 12px;
	margin-right: 12px;
}
input[type=submit]:hover, input[type=button]:hover, button:hover {
    background: #111;
}
input[type=submit]:disabled, input[type=button]:disabled, button:disabled {
    background: #F5F5F5;
    color: #AAA;
    border-color: #CCC;
    pointer-events: none;
    cursor: no-drop;
}
.large-btn {
    height: 46px;
	line-height: 46px;
	font-size: 1.1em;
	padding: 0 24px;
}

/** Progress bar **/
progress {
	width: 100%;
	height: 8px;
	background: #DDD;
	border-radius: 4px;
}
progress[value] {
	background: #333;
	border-radius: 4px;
}
progress[value]::-webkit-progress-value {
	background: #333;
	border-radius: 4px;
}
progress[value]::-webkit-progress-bar {
	background: #DDD;
	border-radius: 4px;
}
/** Header **/
header{
    min-height: 60px;
    width: 100vw;
    background: #333;
    color: #FEFDF9;
    border-bottom: 3px solid #111;
    padding: 0 12px;
    margin: 0 -12px;
    text-transform: uppercase;
    min-width: 769px;
}
header img {
    height: 40px;
    width: auto;
    margin-top:12px;
}
/* logo */
.logo {
    height: 40px;
    min-width: 40px;
    padding: 0 12px;
    margin-top: 10px;
    line-height: 36px;
    float: left;
    overflow: hidden;
    font-size: 1.3em;
    text-align: center;
    border: 4px solid #FEFDF9;
    background: #A5B741;
    color: #FEFDF9;
}
/* Navbar */
header nav {
    float:right;
    line-height: 60px;
    min-height: 60px;
}
header nav a {
    display: inline-block;
    padding: 0 12px;
    color: inherit;
    text-decoration: none;
}
header nav a:hover, header nav a.active {
    background: rgba(0,0,0,0.1);
    color: #FEFDF9;
    text-decoration: none;
}
header nav ul {
    display: inline-block;
    vertical-align: top;
    list-style: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
header nav ul li{
    padding: 0 12px;
}
header nav ul li a{
    width: 100%;
    padding: 0;
}
header nav ul li a:hover{
    background: #333;
}
header nav ul:hover li:nth-child(1){
    background: rgba(0,0,0,0.1);
}
header nav ul li:nth-child(1) a:hover{
    background: none;
}
header nav ul li:nth-child(1) a:after {
    content: "";
    display: inline-block;
    margin-left: 12px;
    margin-top: -3px;
    vertical-align: middle;
    border-top: 6px solid #FFF;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}
header nav ul:hover li:nth-child(2), header nav ul:hover li:nth-child(3), header nav ul:hover li:nth-child(4), header nav ul:hover li:nth-child(5), header nav ul:hover li:nth-child(6), header nav ul:hover li:nth-child(7), header nav ul:hover li:nth-child(8), header nav ul:hover li:nth-child(9), header nav ul:hover li:nth-child(10), header nav ul:hover li:nth-child(11) {
    display: block;
}

header nav ul li:nth-child(2), header nav ul li:nth-child(3), header nav ul li:nth-child(4), header nav ul li:nth-child(5), header nav ul li:nth-child(6), header nav ul li:nth-child(7), header nav ul li:nth-child(8), header nav ul li:nth-child(9), header nav ul li:nth-child(10), header nav ul li:nth-child(11) {
    background: #FFF;
    color: #333;
    margin: 0 -1px;
    line-height: 41px;
    overflow: hidden;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    display: none;
    position: absolute;
    width: 180px;
}
header nav ul li:nth-child(2):hover, header nav ul li:nth-child(3):hover, header nav ul li:nth-child(4):hover, header nav ul li:nth-child(5):hover, header nav ul li:nth-child(6):hover, header nav ul li:nth-child(7):hover, header nav ul li:nth-child(8):hover, header nav ul li:nth-child(9):hover, header nav ul li:nth-child(10):hover, header nav ul li:nth-child(11):hover {
    color: #FFF;
    background: #333;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}
header nav ul li:last-child {
    border-bottom: 1px solid #CCC;
}
header nav ul li:nth-child(2) {
    top: 60px;
}
header nav ul li:nth-child(3) {
    top: 101px;
}
header nav ul li:nth-child(4) {
    top: 142px;
}
header nav ul li:nth-child(5) {
    top: 183px;
}
header nav ul li:nth-child(6) {
    top: 224px;
}
header nav ul li:nth-child(7) {
    top: 265px;
}
header nav ul li:nth-child(8) {
    top: 306px;
}
header nav ul li:nth-child(9) {
    top: 347px;
}
header nav ul li:nth-child(10) {
    top: 388px;
}
header nav ul li:nth-child(11) {
    top: 429px;
} 
header nav > form {
    display: inline-block;
    width: auto;
    padding-bottom: 0;
}
header nav > form > input[type=search] {
    width: 170px;
    height: 30px;
    font-size: 0.9em;
    transition:          0.8s;
    -webkit-transition:  0.8s;
    -moz-transition:     0.8s;
    -o-transition:       0.8s;
    -ms-transition:      0.8s;
    border:none;
    background: #FEFDF9;
}
@media (max-width: 768px) {
    header {
/*         height: 140px; */
    }
    header nav {
        /*
margin-top:20px;
        width:100%;
        text-align: center;
*/
    }
}
/** Footer **/
footer {
    width: 100vw;
    margin: 12px -12px 0;
    padding:6px 12px;
    background: #333;
    font-size: 0.9em;
    color: #FFF;
    text-align: center;
    border-top: 2px solid #006ab2;
}

/** Section **/
section {
    width: 100%;
    background: #FFF;
    padding: 12px 24px;
    margin-top: 12px;
}
section h1 {
    font-size: 2em;
    line-height: 1.25;
}

@media (min-width: 43.75em) {
    section h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
        line-height: 1.05;
    }
}

/** Grid **/
.container {
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}
body > .container {
/*     background: #FFF; */
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 1100px) {
    .container {
        width: 1000px;
    }
}
@media (min-width: 1281px) {
    .container {
        width: 1200px;
    }
}
.col {
    float:left;
    position: relative;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}
.row {
    margin:0 -12px;
}
.row:after{
    content:"";
    display:table;
    clear:both;
}
/* 12 column grid */
.s1 {width:8.33%; }
.s2 {width:16.66%;}
.s3 {width:25%;   }
.s4 {width:33.33%;}
.s5 {width:41.66%;}
.s6 {width:50%;   }
.s7 {width:58.33%;}
.s8 {width:66.66%;}
.s9 {width:75%;   }
.s10{width:83.33%;}
.s11{width:91.66%;}
.s12{width:100%;  }

@media (min-width: 768px) {
    .m1 {width:8.33%; }
    .m2 {width:16.66%;}
    .m3 {width:25%;   }
    .m4 {width:33.33%;}
    .m5 {width:41.66%;}
    .m6 {width:50%;   }
    .m7 {width:58.33%;}
    .m8 {width:66.66%;}
    .m9 {width:75%;   }
    .m10{width:83.33%;}
    .m11{width:91.66%;}
    .m12{width:100%;  }
}
@media (min-width: 1100px) {
    .l1 {width:8.33%; }
    .l2 {width:16.66%;}
    .l3 {width:25%;   }
    .l4 {width:33.33%;}
    .l5 {width:41.66%;}
    .l6 {width:50%;   }
    .l7 {width:58.33%;}
    .l8 {width:66.66%;}
    .l9 {width:75%;   }
    .l10{width:83.33%;}
    .l11{width:91.66%;}
    .l12{width:100%;  }
}
@media (min-width: 1281px) {
    .xl1 {width:8.33%; }
    .xl2 {width:16.66%;}
    .xl3 {width:25%;   }
    .xl4 {width:33.33%;}
    .xl5 {width:41.66%;}
    .xl6 {width:50%;   }
    .xl7 {width:58.33%;}
    .xl8 {width:66.66%;}
    .xl9 {width:75%;   }
    .xl10{width:83.33%;}
    .xl11{width:91.66%;}
    .xl12{width:100%;  }
}

/** Hide/show **/
.hide {
    display: none;
}
.hide-4-s { display: none; }
.show-4-s { display: block; }
@media (min-width: 768px) {
    .hide-4-s { display: block; }
    .hide-4-m { display: none;  }
    .hide-4-l { display: block; }
    .hide-4-xl{ display: block; }
    
    .show-4-s { display: none; }
    .show-4-m { display: block;}
    .show-4-l { display: none; }
    .show-4-xl{ display: none; }
}
@media (min-width: 1100px) {
    .hide-4-s { display: block; }
    .hide-4-m { display: block; }
    .hide-4-l { display: none;  }
    .hide-4-xl{ display: block; }
    
    .show-4-s { display: none; }
    .show-4-m { display: none; }
    .show-4-l { display: block;}
    .show-4-xl{ display: none; }
}
@media (min-width: 1281px) {
    .hide-4-s { display: block; }
    .hide-4-m { display: block; }
    .hide-4-l { display: block; }
    .hide-4-xl{ display: none;  }
    
    .show-4-s { display: none; }
    .show-4-m { display: none; }
    .show-4-l { display: none; }
    .show-4-xl{ display: block;}
}
/** Paragraph **/
p {
	padding: 6px 0;
	width: 100%;
	font-size: 0.9em;
	color: #333;
}
/*
img {
	width: 70%;
}
*/
figcaption {
	font-size: 0.8em;
	color: #999;
}
@media (min-width: 56.25em) {
    p {
        width: 80%;
    }
}
/** Fonts **/
h1, h2, h3, h4, h5, h6{
	font-weight: 500;
	margin: 12px 0;
}

body {
    font-size: 100%;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

section {
  font-size: 1em;
  line-height: 1.25;
}

label {
    font-size: 0.9em;
    font-weight: 200;
}
@media (min-width: 43.75em) {
    section {
        font-size: 1em;
        line-height: 1.375;
    }
}

h1 {
    font-size: 2em;
    line-height: 1.25;
}

@media (min-width: 43.75em) {
    h1 {
        font-size: 2.5em;
        line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    h1 {
        font-size: 3em;
        line-height: 1.05;
    }
}

h2 {
    font-size: 1.625em;
    line-height: 1.15384615;
}

@media (min-width: 43.75em) {
    h2 {
        font-size: 2em;
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h2 {
        font-size: 2.25em;
        line-height: 1.25;
    }
}

h3 {
      font-size: 1.375em;
      line-height: 1.13636364;
}

@media (min-width: 43.75em) {
    h3 {
        font-size: 1.5em;
        line-height: 1.25;
    }
}

@media (min-width: 56.25em) {
    h3 {
        font-size: 1.75em;
        line-height: 1.25;
    }
}

h4 {
    font-size: 1.125em;
    line-height: 1.11111111;
}

@media (min-width: 43.75em) {
    h4 {
        line-height: 1.22222222;
    }
}

blockquote, q {
    font-size: 1em;
    line-height: 1;
}

@media (min-width: 43.75em) {
    blockquote, q {
        font-size: 1.1em;
        line-height: 1.1;
    }
}

/** Optional classes **/
.centered {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.left {
    float: left;
}

.right {
    float: right;
}

/** Shadow **/
.z{
	 box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.2);

}
/** Border **/
.border {
	padding: 12px;
	border: 1px solid #CCC;
}
/** Table **/
table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}
th {
	text-align: left;
	padding: 12px 6px;
	color: #333;
}
td {
	padding: 6px;
	color: #555;
}
tbody tr:nth-child(odd) {
	background: #EEE;
}
/** Lists **/
ol { 
    list-style-type: upper-roman;
}
ul { 
    list-style-type: circle;
}

/** Code **/
pre{
    padding: 5px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: 0.9em;
    overflow: scroll;
}

/** Quotes **/
blockquote, q {
    color: #666;
    border-left: 2px solid #F1F1F1;
    font-style: italic;
    font-weight: 400;
    padding-left: 12px;
    margin: 20px 0 10px 20px;
}
blockquote > cite, q > cite {
    display: block;
    font-size: 0.8em;
    padding-top: 6px;
    color: #888;
}




















